.pessoa__imagem{
   
    
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    height: 300px;
    margin: 0 auto;
    width: 300px;
    
}