.chamada__texto{
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}

@media screen and (min-width: 0 ){
    .chamada__texto{
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 768px){
    .chamada__textp{
        font-size: 1.75rem;
    }
}